* {
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.imgbox {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
}
.center-fit {  
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}
.username-feild{
    display: flex;
    width: 10%;
    height: 25%;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-wrap: wrap;
}
.username-box{
    width:450px;
    height:500px;
    background-color: white;
    margin: 2%;
    flex-shrink: 0;
}
.signin-options-box{
    width:450px;
    height:55px;
    background-color: white;
    margin: 2%;
    flex-shrink: 0;
}
